<div class="page__main__body">
    <div class="c">
  <%= form_for(@quote) do |f| %>
    <% if @quote.errors.any? %>
      <div class="g g_full">
        <div class="alert" id="error_explanation">
          <h2><%= pluralize(@quote.errors.count, "error") %> prohibited this quote from being saved:</h2>
          <ul>
          <% @quote.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      </div>
    <% end %>
      <div class="g_full g">
        <div class="field">
          <%= f.text_field :tag_list, :class => "field__input input_text", :placeholder => "Tag your quote (optional / separate with commas)" %>
        </div>
      </div>
      <div class="g_full g g_t12">
        <div class="field">
          <%= f.text_area :quotation, :class => "field__input input_textarea input_textarea_height_200", :placeholder => "Enter your quotation" %>
        </div>
      </div>

      <div class="g_1of3 g g_t12">
        <div class="field">
          <%= f.text_field :author, :class => "field__input input_text", :placeholder => "Quote Author (optional)" %>
        </div>
      </div>

      <div class="g_1of3 g g_t12">
        <div class="field">
          <%= f.text_field :source, :class => "field__input input_text", :placeholder => "Quotation source name (optional)" %>
        </div>
      </div>

      <div class="g_1of3 g g_t12">
        <div class="field">
          <%= f.text_field :url, :class => "field__input input_text", :placeholder => "Quotation source URL (optional)" %>
        </div>
      </div>
    </div>

    <ul class="actions g g_full nav">
      <li class="nav__item pln">
        <a href="javascript:history.go(-1);" class="font_proxima b">Cancel</a>
      </li>
      <li class="nav__item">
      <%= link_to 'Delete Quote', @quote, method: :delete, data: { confirm: 'Are you sure?' }, :class => "font_proxima b" %>
      </li>
      <li class="nav__item fr prn">
        <%= f.submit 'Save Quote', :class => "button button_primary fr" %>
      </li>
    </ul>
  <% end %>
</div>