<p id="notice"><%= notice %></p>

<p>
  <b>Quotation:</b>
  <%= markdown(@quote.quotation) %>
</p>

<p>
  <b>Tags:</b>
  <%= show_tag_list(@quote) %>
</p>
<p>
  <b>Author:</b>
  <%= @quote.author %>
</p>

<p>
  <b>Source:</b>
  <%= @quote.source %>
</p>

<p>
  <b>Url:</b>
  <%= @quote.url %>
</p>


<%= link_to 'Edit', edit_quote_path(@quote) %> |
<%= link_to 'Back', quotes_path %>
