<article class="quote-tile">
  <div class="quote-tile__body">
    <div class="quote-tile__actions">
      <div class="button-bar">
        <a class="button" href=""><i class="icon icon_share icon_no-text"></i></a>
        <a class="button" href=""><i class="icon icon_like icon_no-text"></i></a>
      </div>
    </div>
    <header class="quote-tile__header">
      <span>On</span>
      <%= tag_list quote %>
    </header>
    <a href="<%= account_quote_path(quote.owner.username, quote) %>" class="quote-tile__title">
      <%= truncate(quote.quotation, :length => 400)-%>
    </a>
    <footer class="quote-tile__footer">
      <a href="#" class="quote-tile__author"><%= quote.author %></a>
      <a href="#" class="quote-tile__source"><%= quote.source %></a>
    </footer>
  </div>
</article>
