<header class="page__title media">
  <div class="fl">
    <i class="icon icon_tag"></i>
    <span><%= tag_name %> (<%= pluralize(quotes.total_count, 'Quote') %>)</span>
  </div>
  <div class="fr">
    <%= button_to "Follow", follow_tag_path(tag_name),
                  method: :post, remote: true,
                  class: "button button_primary button_inline" %>
  </div>
</header>
<section class="page__main__tabs nav-bar nav-bar_main-tabs">
  <ul class="nav">
    <li class="nav__item">
      <a class="nav__link" href="#">Relevancy</a>
    </li>
    <li class="nav__item">
      <a class="nav__link b" href="#">Likes</a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="#">Recency</a>
    </li>
  </ul>
</section>

<section class="page__main__body page__main__body_columns c">

  <div id="quotes">
    <% quotes.each do |quote| %>
      <%= quote_tile quote %>
    <% end %>
  </div>

</section>

<section class="page__main__body c">
  <div id="paginator">
    <%= paginate quotes, remote: true %>
  </div>
</section>
