<div class="page__main__body">
  <div class="box box_register">
    <header class="box__header">
      <h2 class="milli b heading">Sign in</h2>
      <p class="opacity_5 mtm">All fields are required.</p>
    </header>
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <section class="box__body">
      <div class="field mbm">
        <%= f.label :username, :class => "field__label hidden" %>
        <%= f.text_field :username, :class => "field__input input_text", :placeholder => "User name"  %>
      </div>
      <div class="field mbm">
        <%= f.label :password, :class => "field__label hidden" %>
        <%= f.password_field :password, :class => "field__input input_text", :placeholder => "Password"  %>
      </div>
      <% if devise_mapping.rememberable? -%>
        <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
      <% end -%>
    </section>
    <footer class="box__footer">
      <%= f.submit "Sign In", :class => "button button_primary fl" %>
      <div class="fr box_register__footer__links">
        <%= render "devise/shared/links" %>
      </div>
    </footer>
  </div>
  <% end %>
</div>