<header class="page__title media">
<div class="fl">
  <figure class="figure figure_avatar figure_30 user-box__avatar">
    <a href="<%= profile_path %>"><%= gravatar_image_tag(@account.email, :alt => @account.name, class: 'figure__image', gravatar: {size: 32}) %></a>
  </figure>
  <span><%= @account.name %></span>
</div>
<div class="fr">
  <a class="button button_primary button_inline" href="#">Follow</a>
</div>
</header>
<section class="page__main__tabs nav-bar nav-bar_main-tabs nav-bar_main-tabs_profile">
<ul class="nav">
  <li class="nav__item">
    <a class="nav__link b box box_stat state_active" href="#">
      <span class="box__header"><%= quotes.total_count %></span>
      <span class="box__footer">Quotes</span>
    </a>
  </li>
  <li class="nav__item">
    <a class="nav__link b box box_stat" href="#">
      <span class="box__header">10</span>
      <span class="box__footer">Followers</span>
    </a>
  </li>
  <li class="nav__item">
    <a class="nav__link b box box_stat" href="#">
      <span class="box__header">10</span>
      <span class="box__footer">Following</span>
    </a>
  </li>
</ul>
</section>

<section class="page__main__body c">
  <div class="g g_full">
    <%= text_field_tag(:q, "", placeholder: "Search within Name's quotes", class: "input_text_within-user input_text js-within-user") %>
  </div>
</section>

<section class="page__main__body page__main__body_columns c">

  <div id="quotes">
    <% quotes.each do |quote| %>
      <%= quote_tile quote %>
    <% end %>
  </div>

</section>

<section class="page__main__pagination c">
  <div id="paginator">
    <%= paginate quotes, remote: true %>
  </div>
</section>
